Test-Command: /usr/bin/tmperamental ls /
Features: test-name=ls-root

Test-Command: /usr/bin/tmperamental ls /nonexistent
Features: test-name=ls-nonexistent
Restrictions: allow-stderr

Tests: ensure-abort

